/* The styles applies to things shown in the drawer */

#drawer-content {
    font-family: Arial, sans-serif;
    height: 100%;
}

#drawer-content img {
    max-width: 100%;
}

#drawer-content li {
    margin-bottom: 12px;
}

#drawer-content h1,
#drawer-content h2,
#drawer-content h3,
#drawer-content h4 {
    font-family: bradleyHand;
}

/* Used in the entity editor tabs */
sl-tab-group::part(base),
sl-tab-group::part(body),
sl-tab-group,
sl-tab-panel::part(base),
sl-tab-panel::part(body),
sl-tab-panel,
.tab-pannel-inner {
    height: 100%;
}

sl-tab-group::part(nav) {
    display: flex;
    justify-content: center;
    margin: auto;
}

/* Entity editor specific styles */
#buttons-container sl-button:not(:last-child) {
    margin-right: 10px;
}

#drawer-content section~section {
    margin-top: 10px;
}

.short-input {
    width: 3.5rem;
}

.long-input {
    width: 6rem;
}

sl-input::part(form-control-label),
sl-textarea::part(form-control-label),
sl-select::part(form-control-label) {
    font-weight: bold;
}

#power-table thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

details>summary {
    cursor: pointer;
    list-style: none;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

summary::-webkit-details-marker {
    display: none
}

summary::after {
    content: '(click to show)';
    float: right;
    font-size: x-small;
    margin-top: 5px;
}

details[open] summary:after {
    content: "(click to hide) ";
}
.power-info-details {
    font-size: small;
}
/* fancy-ass border */
.fancy-ass-border {
    --border-width: 2px;
    position: relative;
    background: #fff;
    border-radius: 10px;
    width: 98%;
    margin: 0 auto;
    padding: 5px;
    
    &::after {
        position: absolute;
        content: "";
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        z-index: -1;
        width: calc(100% + var(--border-width) * 2);
        height: calc(100% + var(--border-width) * 2);
        background: linear-gradient(60deg,
                hsl(224, 85%, 66%),
                hsl(269, 85%, 66%),
                hsl(314, 85%, 66%),
                hsl(359, 85%, 66%),
                hsl(44, 85%, 66%),
                hsl(89, 85%, 66%),
                hsl(134, 85%, 66%),
                hsl(179, 85%, 66%));
        background-size: 300% 300%;
        background-position: 0 50%;
        border-radius: 10px;
        animation: moveGradient 4s alternate infinite;
    }
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}