/* The styles applies to things shown in the drawer */

#drawer-content {
    font-family: Arial, sans-serif;
}

#drawer-content img {
    max-width: 100%;
}

#drawer-content li {
    margin-bottom: 0.5rem;
}

#drawer-content h1,
#drawer-content h2,
#drawer-content h3,
#drawer-content h4 {
    font-family: "Caveat", cursive;
}

/* Used in the entity editor tabs */
#drawer-content sl-tab-group::part(base),
#drawer-content sl-tab-group::part(body),
#drawer-content sl-tab-group,
#drawer-content sl-tab-panel::part(base),
#drawer-content sl-tab-panel::part(body),
#drawer-content sl-tab-panel,
#drawer-content .tab-pannel-inner {
    height: 100%;
}

#drawer-content sl-tab-group::part(nav) {
    display: flex;
    justify-content: center;
    margin: auto;
}

/* Entity editor specific styles */
#buttons-container sl-button:not(:last-child) {
    margin-right: 10px;
}

#drawer-content section~section {
    margin-top: 10px;
}

#drawer-content .short-input {
    width: 3.5rem;
}

#drawer-content .long-input {
    width: 6rem;
}

#drawer-content sl-input::part(form-control-label),
#drawer-content sl-textarea::part(form-control-label),
#drawer-content sl-select::part(form-control-label) {
    font-weight: bold;
}
#drawer-content .power-item sl-input {
    min-width: 0;
}

/* Appliance name */
#drawer-content .power-item > :first-child {
    flex-grow: 1;
}

/* amount */
#drawer-content .power-item > sl-input:nth-child(2),
#drawer-content .power-item > sl-tooltip:nth-child(2) > sl-input {
    width: 3.5rem;
}
/* watt */
#drawer-content .power-item > sl-input:nth-child(3),
#drawer-content .power-item > sl-tooltip:nth-child(3) > sl-input {
    width: 6rem;
}
/* Add/delete button */
#drawer-content .power-item sl-button {
    width: 2rem;
}

#drawer-content .power-info-details > summary {
    cursor: pointer;
    list-style: none;
    text-align: center;
    font-family: monospace
}

#drawer-content .power-info-details > summary::-webkit-details-marker {
    display: none
}

#drawer-content .power-info-details > summary::after {
    content: '(click to show)';
    float: right;
    font-size: x-small;
    margin-top: 5px;
}

#drawer-content .power-info-details[open] summary:after {
    content: "(click to hide) ";
}

#drawer-content .power-info-details {
    font-size: small;
}

/* fancy-ass border */
#drawer-content .fancy-ass-border {
    --border-width: 2px;
    position: relative;
    background: #fff;
    border-radius: 10px;
    width: 98%;
    margin: 0 auto;
    padding: 5px;
    
    &::after {
        position: absolute;
        content: "";
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        z-index: -1;
        width: calc(100% + var(--border-width) * 2);
        height: calc(100% + var(--border-width) * 2);
        background: linear-gradient(60deg,
                hsl(224, 85%, 66%),
                hsl(269, 85%, 66%),
                hsl(314, 85%, 66%),
                hsl(359, 85%, 66%),
                hsl(44, 85%, 66%),
                hsl(89, 85%, 66%),
                hsl(134, 85%, 66%),
                hsl(179, 85%, 66%));
        background-size: 300% 300%;
        background-position: 0 50%;
        border-radius: 10px;
        animation: moveGradient 4s alternate infinite;
    }
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

/* Guide FAQ icon */
#drawer-content sl-details::part(summary-icon) {
    /* Disable the expand/collapse animation */
    rotate: none;
}
#drawer-content sl-details::part(summary) {
    font-weight: bold;
}

#history-table tbody td {
    padding: 0;
}

#history-table tbody tr:nth-child(odd) {
    background-color: #f6f6f6;
}

#history-table ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#history-table ul li {
    margin: 0 0 2px 0;
}

#history-table table {
    width: 100%;
}

#history-table thead {
    position: sticky;
    top: 0;
    background-color: white;
}

#history-table thead td {
    font-weight: 700;
}

#history-table tbody {
    font-size: small;
}

#history-table {
    max-height: 400px;
    overflow: auto;
}