/* The styles applies to things shown in the drawer */

#drawer-content {
    font-family: Arial, sans-serif;
    height: 100%;
}

#drawer-content img {
    max-width: 100%;
}

#drawer-content li {
    margin-bottom: 12px;
}

#drawer-content h1,
#drawer-content h2,
#drawer-content h3,
#drawer-content h4 {
    font-family: bradleyHand;
}

/* Used in the entity editor tabs */
sl-tab-group::part(base),
sl-tab-group::part(body),
sl-tab-group,
sl-tab-panel::part(base),
sl-tab-panel::part(body),
sl-tab-panel,
.tab-pannel-inner {
  height: 100%;
}

sl-tab-group::part(nav) {
    display: flex;
    justify-content: center;
    margin: auto;
}

/* Entity editor specific styles */

#drawer-content section ~ section {
    margin-top: 10px;
}

.short-input {
    width: 3.5rem;
}

.long-input {
    width: 6rem;
}

sl-input::part(form-control-label),
sl-textarea::part(form-control-label),
sl-select::part(form-control-label) {
    font-weight: bold;
}

#power-table thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}