@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@keyframes shake {

    10%,
    90% {
        transform: translate3d(0, -1px, 0);
    }

    20%,
    80% {
        transform: translate3d(0, 2px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(0, -4px, 0);
    }

    40%,
    60% {
        transform: translate3d(0, 4px, 0);
    }
}

*,
:before,
:after {
    box-sizing: border-box;
}

:focus {
    outline: none !important;
}

.hidden {
    display: none !important;
}

b {
    font-weight: bold;
}

button {
    background-color: #20b2aa;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: medium;
    font-weight: 600;
    margin-right: 15px;
    width: auto;
}

button:disabled {
    background-color: #969797;
}

html,
body {
    font-family: 'Arial', sans-serif;
    height: 100%;
    margin: 0;
}

input[type='checkbox'] {
    transform: scale(1.5);
}

input[type='text'],
textarea,
button {
    -webkit-appearance: none;
    appearance: none;
}

input[type='text'],
input[type='number'],
textarea,
select,
button {
    border: 1px solid #aaa;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 0 0 10px;
    padding: 5px;
}

input[type='text'],
textarea,
select,
button {
    width: 100%;
}

label {
    display: inline-block;
    font-size: medium;
    font-weight: 700;
    text-align: left;
    width: 100%;
}

p {
    font-size: 16px;
}

select {
    display: inline-block;
    font-weight: 600;
    text-align: right;
    width: 60%;
}

textarea {
    resize: none;
}

.borderland-marker h1 {
    color: #fa6;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.borderland-marker h2 {
    color: #fea;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

.borderland-marker li {
    color: #fea;
    font-size: 1rem;
}

.borderland-marker {
    font-weight: 700;
    margin: 0;
    opacity: 1;
    padding: 0;
    text-shadow: 3px 3px #000;
}

.btn {
    background-size: 200% auto;
    border: solid;
    border-color: #fbc2eb;
    border-radius: 5px;
    box-shadow: 0 0 10px #eee;
    color: #fff;
    font-size: 1rem;
    margin: 0 10px 10px;
    padding: 7px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
    width: 100px;
}

.btn:hover {
    background-position: right center;
}

.button-shake-animate {
    animation-delay: 5s;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-fill-mode: none;
    animation-iteration-count: 2;
    animation-name: shake;
    animation-play-state: running;
    animation-timing-function: ease-out;
}

.camps-list-tooltip h3,
.camps-list-tooltip ul {
    margin: 0;
}

.camps-list-tooltip ul {
    padding-left: 1em;
}

.camps-list-tooltip {
    color: #fff;
    font-size: 0.8rem;
    opacity: 1;
    text-shadow: 1px 1px #000;
}


.description {
    background-color: hsla(0, 0%, 100%, 0.8);
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 0 15px #000;
    color: #333;
    font-size: 16px;
    line-height: 120%;
    padding: 10px 14px;
    width: 100px;
}

.error {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 0 !important;
}

.error::before {
    background-image: url('./img/icons/forbidden.png');
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: transparent;
    content: '';
}

.help-button {
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #fff;
    height: 34px;
    padding: 3px;
    text-align: center;
    width: 34px;
}

.history-button {
    background-color: #a35454;
}

.info::before {
    background-image: url('./img/icons/notice.png');
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: transparent;
    content: '';
}

.leaflet-bar a {
    border-style: none;
    width: 100px;
}

.leaflet-container {
    background-color: #deefd6;
    height: 400px;
    max-height: 100%;
    max-width: 100%;
    width: 600px;
}

.leaflet-control-layers label {
    font-size: 1.3em;
    width: auto;
}

.leaflet-pm-icon-polygon::before {
    color: #fff;
    content: 'Draw';
    font-size: 18px;
    font-weight: 700;
    width: 100px;
}

.leaflet-pm-toolbar .leaflet-pm-icon-polygon {
    animation-delay: 0;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-name: borderColorFade;
    animation-play-state: running;
    animation-timing-function: ease-out;
    background-color: #8b40a1;
    background-image: none;
    border-radius: 10px;
    border-style: double;
    box-shadow: 3px 5px 5px #000;
    color: #f9f9f9;
    font-size: large;
    height: unset;
    margin-left: -6px;
    margin-top: -11px;
    padding: 10%;
    text-anchor: middle;
    text-shadow: 2px 2px 3px #000;
    width: 100px;
}

/* Leaflet Grouped Layer Control CSS */
.leaflet-control-layers-group-name {
    font-weight: bold;
    margin-left: 3px;
}

.leaflet-control-layers-group:not(:last-of-type) {
    margin-bottom: 0.5em;
}

.leaflet-control-layers-group-item {
    font-weight: normal;
}

.leaflet-control-layers-scrollbar {
    overflow-y: scroll;
    padding-right: 10px;
}

.scrollable {
    /* 6.5 lines of current font size in area description of the popup, so you'll see that you need to scroll */
    max-height: 188px;
    overflow-y: auto;
}

.task-header {
    color: #868686;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 0;
    text-transform: uppercase;
}

.warning::before {
    background-image: url('./img/icons/warning.png');
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: transparent;
    content: '';
}

.zone-tooltip h3 {
    color: #ffa;
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0;
    opacity: 1;
    padding: 0;
    text-shadow: 2px 2px #000;
}

#map {
    height: 100%;
    width: 100vw;
}

body,
.zone-tooltip {
    margin: 0;
    padding: 0;
}

.camps-list-tooltip h3 {
    font-weight: 700;
}

.control-icon,
.leaflet-pm-toolbar {
    background-image: none;
    width: 100px;
}

.info,
.warning {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 0 !important;
}

.name-tooltip,
.shape-tooltip {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    opacity: 1;
    text-align: center;
    text-shadow: 1px 1px #000;
}

@font-face {
    font-family: 'bradleyHand';
    src: url('fonts/bradley.woff') format('woff');
}

/* Lat Lng Ctrl */
.leaflet-control-coordinates {
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    cursor: pointer;
    padding: 2px 5px;
}

.leaflet-control-coordinates.hidden {
    display: none;
}

.leaflet-control-coordinates-lng {
    padding-left: 5px;
}

/* some flex stuff for area popup and area editor (drawer) */
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-fill {
    flex-grow: 1;
}

.flex-row input,
.flex-column input,
.flex-column textarea {
    margin-bottom: 5px;
}

/* END some flex stuff */

.note-about-editing {
    background-color: white;
    border-radius: 10px;
    border: 5px red solid;
    padding: 2px;
    font-size: 13px;
    font-weight: bold;
    width: 200px;
}

.leaflet-tooltip-bottom {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.leaflet-pm-action {
    background-color: purple !important;
    font-size: 1rem;
    outline: 1px white dashed;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    &:hover {
        background-color: #8b40a1 !important;
    }
}

/* mobile */
@media (min-device-width: 480px) {

    /* Never display the full screen popup when not on mobile */
    #fullScreenPopup {
        display: none;
    }
}

@media (max-device-width: 480px) {
    #fullScreenPopup:not(.hidden) {
        display: block;
        z-index: 9999;
        background-color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 10px;
    }
}